@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the future of <b>gaming</b></h1>
    <p style="font-size: 36px;">Gameify is a comprehensive gaming database designed for players, enthusiasts, and developers alike. It offers a one-stop destination to discover, explore, and connect with the world of video games. Whether you're a casual gamer looking for your next adventure, a hardcore player diving deep into lore and strategies, or a developer seeking industry insights, Gameify has something for everyone. </pstyle>
    <p><b>Gameify – Your Portal to the Gaming Universe</b></p>
</div>

<body style="background-image: url('Images/Wallpaper.png');">
</body>
